name: Publish Documentation

on:
  push:
    branches:
      - main

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install sphinx sphinx_rtd_theme

    - name: Generate Doxygen documentation
      uses: mattnotmitt/doxygen-action@v1.2.0
      with:
        doxygen-version: '1.9.1'
        working-directory: './docs'

    - name: Build Sphinx documentation
      run: |
        cd docs
        make html

    - name: Upload documentation artifact
      uses: actions/upload-artifact@v3
      with:
        name: docs
        path: docs/_build/html

  deploy-docs:
    runs-on: ubuntu-latest
    needs: build-docs

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download documentation artifact
      uses: actions/download-artifact@v3
      with:
        name: docs
        path: docs/_build/html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html